<ion-view view-title="Results" hide-nav-bar="false" ng-cloak="">
  <ion-content>
    <md-content class="md-padding quest-container" layout="column">
      <div flex align="right">
        <md-switch ng-model="lang" ng-true-value="'English'" ng-false-value="'Russian'" class="md-warn">
          {{lang}}
        </md-switch>
      </div>
      <h1>Current Results</h1>

      <div class="questions-container" flex align="row" ng-show="results.length">
        <md-card ng-repeat="result in results">
          <md-card-content>
            <div layout="column">
              <div>
                <b>ID:</b> {{result.id}}
              </div>
              <md-divider></md-divider>
              <div class="results-container" ng-repeat="doc in result.doc.tasks" layout="column">
                <div ng-if="lang==='English'">
                  <b>{{doc.title.en}}</b>
                </div>
                <div ng-if="lang==='Russian'">
                  <b>{{doc.title.ru}}</b>
                </div>
                <div flex layout="row">
                  <div flex="80" layout layout-align="left">
                    <span class="md-body-1" ng-if="lang==='English'">{{doc.text.en}}</span>
                    <span class="md-body-1" ng-if="lang==='Russian'">{{doc.text.ru}}</span>
                  </div>
                  <div flex="20" layout layout-align="right">
                    <span class="md-body-1">{{doc.rate}}</span>
                  </div>
                </div>
                <md-divider></md-divider>
              </div>

              <md-divider></md-divider>

              <div flex>
                <b>Gender:</b> {{result.doc.gender}}
              </div>
              <div flex>
                <b>Location:</b> {{result.doc.ip}}
              </div>
              <md-divider></md-divider>

              <div flex align="center">
                <md-button class="md-primary md-raised" ng-click="remove(result.doc._id)" ng-if="lang==='English'">
                  Remove
                </md-button>
                <md-button class="md-primary md-raised" ng-click="remove(result.doc._id)" ng-if="lang==='Russian'">
                  Удалить
                </md-button>
              </div>

            </div>
          </md-card-content>
        </md-card>

        <div flex align="center">
          <md-button class="md-primary md-raised" ng-click="refreshRemote()" ng-if="lang==='English'">
            Refresh
          </md-button>
          <md-button class="md-primary md-raised" ng-click="refreshRemote()" ng-if="lang==='Russian'">
            Обновить
          </md-button>
        </div>
      </div>

    </md-content>
  </ion-content>
</ion-view>
