<ion-view view-title="{{ 'QUIZ_TITLE' | translate}}" hide-nav-bar="false" ng-cloak="">
  <ion-content>
    <md-content class="md-padding quest-container" layout="column">
      <div flex align="right">
        <md-switch ng-model="lang" ng-true-value="'en'" ng-false-value="'ru'" class="md-warn" ng-change="changeLanguage(lang)">
          {{lang}}
        </md-switch>
      </div>
      <h1>{{ 'ADMIN_GREETING' | translate }}</h1>

      <div class="questions-container" flex align="row" ng-show="results.length">
        <md-card ng-repeat="result in results">
          <md-card-content>
            <div layout="column">
              <div>
                <b>ID:</b> {{result.id}}
              </div>
              <md-divider></md-divider>
              <div class="results-container" ng-repeat="doc in result.doc.tasks" layout="column">
                <div>
                  {{lang === 'en' ? doc.title.en : doc.title.ru}}
                </div>
                <div flex layout="row">
                  <div flex="80" layout layout-align="left">
                    {{lang === 'en' ? doc.text.en : doc.text.ru}}
                  </div>
                  <div flex="20" layout layout-align="right">
                    <span class="md-body-1">{{doc.rate}}</span>
                  </div>
                </div>
                <md-divider></md-divider>
              </div>

              <md-divider></md-divider>

              <div flex>
                <b>{{ 'GENDER' | translate}}:</b>{{lang === 'en' ? result.doc.gender.text.en : result.doc.gender.text.ru}}
              </div>
              <div flex>
                <b>{{ 'LOCATION' | translate}}</b> {{result.doc.ip}}
              </div>
              <md-divider></md-divider>

              <div flex align="center">
                <md-button class="md-primary md-raised" ng-click="remove(result.doc._id)">
                  {{ 'REMOVE' | translate}}
                </md-button>
              </div>

            </div>
          </md-card-content>
        </md-card>

        <div flex align="center">
          <md-button class="md-primary md-raised" ng-click="refreshRemote()">
            {{ 'REFRESH' | translate}}
          </md-button>
        </div>
      </div>

    </md-content>
  </ion-content>
</ion-view>
