<ion-view view-title="New Quiz" hide-nav-bar="false" ng-cloak="">
  <ion-content>
    <md-content class="md-padding quest-container" layout="column">
      <div flex align="right">
        <md-switch ng-model="lang" ng-true-value="'English'" ng-false-value="'Russian'" class="md-warn">
          {{lang}}
        </md-switch>
      </div>
      <h1>Welcome!</h1>
      <div flex align="center">
        <md-button class="md-primary md-raised" ng-click="initQuest()" ng-show="!questInitialized" ng-if="lang==='English'">
          Start Quiz
        </md-button>
        <md-button class="md-primary md-raised" ng-click="initQuest()" ng-show="!questInitialized" ng-if="lang==='Russian'">
          Начать
        </md-button>
      </div>

      <div class="questions-container" flex align="row" ng-show="questInitialized">
        <md-card ng-repeat="task in tasks">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" ng-if="lang==='English'">{{task.title.en}}</span>
              <span class="md-headline" ng-if="lang==='Russian'">{{task.title.ru}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout>
              <div flex="80" layout layout-align="left">
                <span class="md-body-1" ng-if="lang==='English'">{{task.text.en}}</span>
                <span class="md-body-1" ng-if="lang==='Russian'">{{task.text.ru}}</span>
              </div>
              <div flex="20" layout layout-align="right">
                <span class="md-body-1">{{task.rate}}</span>
              </div>
            </div>
            <div layout>
              <div flex="10" layout layout-align="center center">
                <span class="md-body-1">1</span>
              </div>
              <md-slider flex md-discrete ng-model="task.rate" step="1" min="1" max="10" aria-label="rating">
              </md-slider>
              <div flex="10" layout layout-align="center center">
                <span class="md-body-1">10</span>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" ng-if="lang==='English'">Gender</span>
              <span class="md-headline" ng-if="lang==='Russian'">Пол</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-radio-group ng-model="gender">
              <md-radio-button value="Male">Male</md-radio-button>
              <md-radio-button value="Female">Female</md-radio-button>
            </md-radio-group>
          </md-card-content>
        </md-card>

        <div flex align="center">
          <md-button class="md-primary md-raised" ng-click="submitQuest()" ng-if="lang==='English'">
            Submit
          </md-button>
          <md-button class="md-primary md-raised" ng-click="submitQuest()" ng-if="lang==='Russian'">
            Отправить
          </md-button>
        </div>
      </div>
    </md-content>

  </ion-content>
</ion-view>
