<ion-view view-title="Quest" hide-nav-bar="false" ng-cloak="">
  <md-content class="md-padding quest-container" layout="column">
    <h1>Welcome!</h1>
    <div flex align="center">
      <md-button class="md-primary md-raised" ng-click="initQuest()" ng-show="!questInitialized">
        Start Quest
      </md-button>
    </div>

    <div class="questions-container" flex align="row" ng-show="questInitialized">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Question 1</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout>
            <div flex="80" layout layout-align="left">
              <span class="md-body-1">How do you rate your English skills?</span>
            </div>
            <div flex="20" layout layout-align="right">
              <span class="md-body-1">{{questions.question1.rate}}</span>
            </div>
          </div>
          <div layout>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">1</span>
            </div>
            <md-slider flex md-discrete ng-model="question.question1.rate" step="1" min="1" max="10" aria-label="rating">
            </md-slider>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">10</span>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Question 2</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout>
            <div flex="80" layout layout-align="left">
              <span class="md-body-1">How do you rate your HTML skills?</span>
            </div>
            <div flex="20" layout layout-align="right">
              <span class="md-body-1">{{questions.question2.rate}}</span>
            </div>
          </div>
          <div layout>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">1</span>
            </div>
            <md-slider flex md-discrete ng-model="question.question2.rate" step="1" min="1" max="10" aria-label="rating">
            </md-slider>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">10</span>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Question 3</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout>
            <div flex="80" layout layout-align="left">
              <span class="md-body-1">How do you rate your CSS skills?</span>
            </div>
            <div flex="20" layout layout-align="right">
              <span class="md-body-1">{{questions.question3.rate}}</span>
            </div>
          </div>
          <div layout>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">1</span>
            </div>
            <md-slider flex md-discrete ng-model="question.question3.rate" step="1" min="1" max="10" aria-label="rating">
            </md-slider>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">10</span>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Question 3</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout>
            <div flex="80" layout layout-align="left">
              <span class="md-body-1">How do you rate your CSS skills?</span>
            </div>
            <div flex="20" layout layout-align="right">
              <span class="md-body-1">{{questions.question3.rate}}</span>
            </div>
          </div>
          <div layout>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">1</span>
            </div>
            <md-slider flex md-discrete ng-model="question.question3.rate" step="1" min="1" max="10" aria-label="rating">
            </md-slider>
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">10</span>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <div flex align="center">
        <md-button class="md-primary md-raised" ng-click="submitQuest()">
          Submit
        </md-button>
      </div>
    </div>

  </md-content>

</ion-view>
